### 추가 수집

In [1]:
import pandas as pd

#### 와인 고유 column 추가(code - id+year)

In [2]:
df_wine = pd.read_csv(".../csv/source/wines.csv")

In [3]:
df_wine[["year", "id"]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42775 entries, 0 to 42774
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   year    42711 non-null  object
 1   id      42775 non-null  int64
dtypes: int64(1), object(1)
memory usage: 668.5+ KB

In [4]:
df_wine.dropna(subset=["year"], axis=0, inplace=True)

In [5]:
df_wine["year"].value_counts().index

Index(['2020', '2021', '2019', '2018', '2017', 'N.V.', '2022', '2016', '2015',
       '2014', '2013', '2012', '2011', '2010', '2009', '2007', '2008', '2005',
       '2006', '2003', '2004', '2002', '2000', '2001', '1997', '1999', '1995',
       '1996', '1998', '1994', '1983', '1989', '1985', '1988', '1990', '1975',
       '1970', '1986', '1991', '1977', '1980', '1978', '1967', '1966', '1976',
       '1992', '1979', '1982', '1971', '1963', '1993', '1981', '1987', '1961',
       '1968', '1965', '1960', '1955', '1959', '1969', '1964', '1974', '1947',
       '1984', '1944', '1962', '1973', '1931', '1940', '1972', '1953', '1958',
       '1957', '1946', '1927', '1934', '1952', '1945', '1950', '2023', '1939',
       '1929', '1954', '1951', '1948', '1949', '1928', '1938', '1935', '1941',
       '1956', '1925', '1907', '1912', '1847'],
      dtype='object', name='year')

In [6]:
df_wine.loc[df_wine["year"]=="N.V.", "year"] = "9999"

In [7]:
df_wine["year"] = df_wine["year"].astype("float").astype("int64")

In [8]:
df_wine["year"].value_counts().index

Index([2020, 2021, 2019, 2018, 2017, 9999, 2022, 2016, 2015, 2014, 2013, 2012,
       2011, 2010, 2009, 2007, 2008, 2005, 2006, 2003, 2004, 2002, 2000, 2001,
       1997, 1999, 1995, 1996, 1998, 1994, 1983, 1989, 1985, 1988, 1990, 1975,
       1970, 1986, 1991, 1977, 1980, 1978, 1967, 1966, 1976, 1992, 1979, 1982,
       1971, 1963, 1993, 1981, 1987, 1961, 1968, 1965, 1960, 1955, 1959, 1969,
       1964, 1974, 1947, 1984, 1944, 1962, 1973, 1931, 1940, 1972, 1953, 1958,
       1957, 1946, 1927, 1934, 1952, 1945, 1950, 2023, 1939, 1929, 1954, 1951,
       1948, 1949, 1928, 1938, 1935, 1941, 1956, 1925, 1907, 1912, 1847],
      dtype='int64', name='year')

In [9]:
df_wine["code"] = df_wine["id"].astype("str") + df_wine["year"].astype("str")

In [10]:
df_wine = df_wine[["code", "id", "year", "name", "title", "winery", "country", "type_id", "acidity", "intensity", "sweetness", "tannin", "price"]]

In [11]:
df_wine.reset_index(drop=True, inplace=True)

In [12]:
df_wine.to_csv(".../csv/scraping/wines.csv", index=False)

In [13]:
df_review = pd.read_csv(".../csv/source/reviews.csv")

C:\Users\peep1\AppData\Local\Temp\ipykernel_18668\2058106327.py:1: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df_review = pd.read_csv("../csv/source/reviews.csv")

In [14]:
print(df_review["id"].isna().any())
print(df_review["year"].isna().any())

False
True

In [15]:
df_review.dropna(subset=["year"], inplace=True)
df_review.loc[df_review["year"]=="N.V.", "year"] = "9999"
df_review["year"] = df_review["year"].astype("float").astype("int64")
df_review["code"] = df_review["wine_id"].astype("str") + df_review["year"].astype("str")
df_review = df_review[["code", "wine_id", "year", "user_id", "user_rating"]]
df_review.reset_index(drop=True, inplace=True)

In [16]:
df_review.to_csv(".../csv/scraping/reviews.csv", index=False)

#### 와인 별 평균 리뷰 이하 데이터 제거

In [19]:
df_review = pd.read_csv(".../csv/scraping/reviews.csv")

In [23]:
print(df_review["code"].value_counts().mean())
print(df_review["code"].value_counts().median())

50.684063104302844
8.0

In [32]:
t = df_review["code"].value_counts()

In [39]:
codes = t.loc[t>=50].index

In [42]:
df_review = df_review.loc[df_review["code"].isin(codes), :]

In [45]:
df_review.reset_index(drop=True, inplace=True)

In [47]:
df_review.to_csv(".../csv/scraping/reviews.csv", index=False)

#### 누락 데이터 조회

In [48]:
df_review = pd.read_csv(".../csv/scraping/reviews.csv")

In [49]:
df_wine = pd.read_csv(".../csv/scraping/wines.csv")

In [98]:
t = df_review.loc[df_review["code"].isin(df_wine["code"].unique())==False, ["code", "wine_id", "year"]].drop_duplicates("code")

In [99]:
t

                 code  wine_id  year
13        11949932020  1194993  2020
15        11949932019  1194993  2019
30        11949932017  1194993  2017
35        11949932013  1194993  2013
42        11949932016  1194993  2016
...               ...      ...   ...
15094819  21356872018  2135687  2018
15094846  21356872016  2135687  2016
15094848  21356872017  2135687  2017
15094889  21356872014  2135687  2014
15096804  58525892021  5852589  2021

[55577 rows x 3 columns]

#### 누락 데이터 수집

In [187]:
import requests
import json

def get_wine(id, year):
    headers = {"User-Agent" : "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/114.0.0.0 Safari/537.36",
               "referer":"https://www.vivino.com/explore?e=eJzLLbI1VMvNzLM1UMtNrLA1NTBQS660DQ1WSwYSLmoFQNn0NNuyxKLM1JLEHLX8ohTblNTiZLX8pErbgqLM5FS18pLoWKAqMGUEoUwglDmEMobKmQBNLgYyEovUim2dHQF9pSex"}
    r1 = requests.get(f"https://www.vivino.com/US-CA/en/w/{id}?year={year}", headers=headers)
    body = r1.text.splitlines()
    for i, v in enumerate(body):
        if v.startswith("  window.__PRELOADED_STATE__.vintagePageInformation = "):
            data = json.loads(body[i].split("n = ")[1][:-1])
            break

    code = str(id) + str(year)

    try:
        name = data["wine"]["name"]
    except Exception as e:
        name = None
    
    try:
        winery = data["wine"]["winery"]["name"]
    except Exception as e:
        winery = None
    
    try:
        title = data["vintage"]["name"]
    except Exception as e:
        title = None
    
    try:
        price = data["price"]["amount"]
    except Exception as e:
        price = -1
    
    try:
        type_id = data["wine"]["type_id"]
    except Exception as e:
        type_id = -1
    
    try:
        country = data["wine"]["region"]["country"]["name"]
    except Exception as e:
        country = None
    
    r2 = requests.get(f"https://www.vivino.com/api/wines/{id}/tastes?language=en", headers=headers).json()

    try:
        acidity = r2["tastes"]["structure"]["acidity"]
    except Exception as e:
        acidity = -1
    
    try:
        intensity = r2["tastes"]["structure"]["intensity"]
    except Exception as e:
        intensity = -1
    
    try:
        sweetness = r2["tastes"]["structure"]["sweetness"]
    except Exception as e:
        sweetness = -1
    
    try:
        tannin = r2["tastes"]["structure"]["tannin"]
    except Exception as e:
        tannin = -1
    
    result = [code, id, year, name, title, winery, country, type_id, acidity, intensity, sweetness, tannin, price]
    return result

In [188]:
df_wine = pd.read_csv(".../csv/scraping/wines.csv")

for i, r in t.iterrows():
    if df_wine.loc[df_wine["code"]==r["code"], "code"].any()==False:
        row = pd.DataFrame(data=[get_wine(r["wine_id"], r["year"])], columns=df_wine.columns)
        row.to_csv(".../csv/scraping/wines.csv", header=False, index=False, mode="a")