In [1]:
import pandas as pd
import numpy as np

In [26]:
df_wine = pd.read_csv("../csv/preprocessing/cbf_wines.csv")

In [27]:
df_wine.head()

,title,code,id,year,country,type,type_id,acidity,intensity,sweetness,price
0,Santa Julia Cabernet Sauvignon 2021,11949932021,1194993,2021,Argentina,Red,1,0.473279,0.689551,0.168775,0.003492
1,Alamos Cabernet Sauvignon 2019,13870852019,1387085,2019,Argentina,Red,1,0.466819,0.718355,0.172030,0.004058
2,Alamos Red Blend 2020,12252912020,1225291,2020,Argentina,Red,1,0.572770,0.738673,0.365501,0.004058
3,Bodega Finca Las Moras Barrel Select Malbec 2020,27379772020,2737977,2020,Argentina,Red,1,0.365663,0.694278,0.274090,0.004064
4,Que Guapo Malbec Blend 2019,24038652019,2403865,2019,Argentina,Red,1,0.560459,0.784674,0.383353,0.004064

In [4]:
train = pd.read_csv("../csv/preprocessing/train.csv")
test = pd.read_csv("../csv/preprocessing/test.csv")

In [5]:
# get df_sim by type/country

from sklearn.metrics.pairwise import euclidean_distances

wine_types = df_wine["type"].unique().tolist()
sim_by_type = {}

for t in wine_types:
    wines = df_wine.loc[df_wine["type"]==t, :]
    sim = euclidean_distances(wines[["acidity", "intensity", "sweetness", "price"]])
    df_sim = pd.DataFrame(data=sim, index=wines["code"], columns=wines["code"])
    sim_by_type[t] = df_sim

c:\Users\peep1\workplace\vivino_wine_recommendation\venv\lib\site-packages\sklearn\utils\extmath.py:152: RuntimeWarning: invalid value encountered in matmul
  ret = a @ b

In [16]:
def get_pivot(reviews:pd.DataFrame):
    _arr = np.zeros((len(reviews["user_id"].unique()), len(reviews["wine_code"].unique())))
    df_pivot = pd.DataFrame(data=_arr, index=reviews["user_id"].unique(), columns=reviews["wine_code"].unique())

    for i, r in reviews.iterrows():
        df_pivot.loc[r["user_id"], r["wine_code"]] = r["user_rating"]
    
    return df_pivot

In [23]:
sim_by_type["Red"].max()

code
11949932021    1.011050
13870852019    1.011363
12252912020    1.013108
27379772020    1.036380
24038652019    1.019538
                 ...
12613152014    1.003264
12613152017    1.003264
12613152016    1.003264
12613152013    1.003264
12613152015    1.003264
Length: 42655, dtype: float64

In [ ]:
mat_train = get_pivot(train)

In [19]:
test_user_id = 1813447

In [20]:
def rec_by_cbf(user_id):
    wines = train.loc[train["user_id"]==user_id, :]

In [24]:
rec_by_cbf(test_user_id)

         user_id  user_rating    wine_code
0        1813447          4.0  25574952014
2828     1813447          5.0     40862015
2915     1813447          3.5  11456372018
12648    1813447          3.0  11329282013
12898    1813447          4.3  11748452007
...          ...          ...          ...
2505865  1813447          3.5    240162010
2505945  1813447          4.0  12228972019
2507281  1813447          4.5  11362312011
2511476  1813447          5.0     12442004
2523084  1813447          4.1     89712007

[747 rows x 3 columns]

In [143]:
mat_train.iloc[0, :].mean(skipna=True)

0.04294340723453909

In [134]:
train

          user_id  user_rating    wine_code
0         1813447          4.0  25574952014
1         9156545          3.5     30792018
2          386254          3.5     18922009
3         1042262          1.5  11350982014
4         9110992          3.5  16188792015
...           ...          ...          ...
2525221  13651328          3.5  13648372016
2525222    316682          4.0  18516952004
2525223   1986166          3.0  11364722018
2525224   4627897          4.0     79062019
2525225   5505216          4.0  12610072016

[2525226 rows x 3 columns]